
:root {
    --main-bg-color: rgb(41, 38, 41);
    --footer: rgb(68, 64, 68);
    --text-base:rgb(252, 246, 246);
    --text-variation-dark:rgb(41, 38, 41);
    --text-hover:rgb(247, 162, 239);
    --text-hover-dark:rgb(228, 113, 217);
    --navbar:rgb(90, 59, 100);
    --navbar-hover:rgb(85, 57, 82);
    --card:rgb(68, 49, 66);
    --card-dark:rgb(48, 42, 47);
    --card-light:rgb(88, 78, 86);
    --like:rgb(69, 69, 132);
    --heart:rgb(205, 81, 54);
    --buy:rgb(75, 114, 81);
    --buy-hover:rgb(47, 79, 52);
    --like-hover:rgb(44, 44, 96);
    --heart-hover:rgb(150, 59, 38);
    --white-variation:rgb(234, 234, 234);
  }
